<div id="dashboard">
  <div class="stats mt-3">
    <div class="bg-gradient-primary">
      <div class="container-fluid mx-auto">
        <div class="header-body">
          <div class="row d-flex align-content-center justify-content-center">
            <div class="col-xl-3 col-lg-6 stats-slm" id="stats-users">
              <div class="card card-stats mb-4 mb-xl-0">
                <div class="card-body">
                  <div class="row">
                    <div class="col">
                      <h5 class="card-title text-uppercase text-muted mb-0">New users Today</h5>
                      <span class="h2 font-weight-bold mb-0">{{numberUsersToday}}</span>
                    </div>
                    <div class="col-auto">
                      <div class="icon icon-shape bg-warning text-white rounded-circle shadow">
                        <i class="fas fa-chart-pie"></i>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-xl-3 col-lg-6 stats-slm" id="stats-performance">
              <div class="card card-stats mb-4 mb-xl-0">
                <div class="card-body">
                  <div class="row">
                    <div class="col">
                      <h5 class="card-title text-uppercase text-muted mb-0">Total Users</h5>
                      <span class="h2 font-weight-bold mb-0">{{numberUsers}}</span>
                    </div>
                    <div class="col-auto">
                      <div class="icon icon-shape bg-info text-white rounded-circle shadow">
                        <i class="fas fa-percent"></i>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="card bg-info w-50 text-center mx-auto rounded rounded-3 mt-5">
      <div class="card-body">
        This section is not developed. It will be ready in the future
      </div>
    </div>
  </div>
